Aula 1/Apostila Jornada Python - Aula 1.pdf
Aula 3 - IA/novos_clientes.csv
Aula 1/gabarito.py
Aula 1/main.py
Aula 1/pegar_posicao.py
Aula 1/produtos.csv
Aula 2/Apostila Jornada Python - Aula 2.pdf
Aula 2/cancelamentos_sample.csv
Aula 2/cancelamentos.csv
Aula 2/gabarito.ipynb
Aula 2/inicial.ipynb
Aula 3 - IA/Apostila Jornada Python - Aula 3.pdf
Aula 3 - IA/clientes.csv
Aula 3 - IA/gabarito.ipynb
Aula 3 - IA/inicial.ipynb
